@import "./base/fonts";
@import "./utils/vars";
@import "./utils/comon";
@import "./base/reset";
@import "./components/header";
@import "./components/hero";
@import "./components/features";
@import "./components/product";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolio";
@import "./components/mobile-menu";






