

.section {
    &__title {
        color: var(--title-text-color);
        margin-bottom: 10px;
        // text-align: center;
    }
    
    @media screen and (max-width: 1199.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.title {
    font-weight: 700;
    text-align: center;

    @media screen and (min-width: 480px) {
        font-size: 28px;
        line-height: 1.17;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}

.list .section__title {  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features-list__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--secondary-background-color);

    @media screen and (max-width: 767px) {
        // width: 450px;
        height: 120px;

        max-width: 450px;
        width: 100%;


    }

    @media screen and (min-width: 768px) {
        width: 354px;
        height: 120px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
         height: 120px;
    }
}

.features-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.features-list__item {
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) /2);
    
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) /4);
    }
}
 






