
.footer-page {
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

    .footer-page__container {
               
        @media screen and (max-width: 1199px) {
           text-align: center;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
        }
    }

.footer-wrapper {
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
}
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        justify-content: center;
    }
}
  

.location,
.footer-box {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;       
     }
}

.footer-logo {
    @media screen and (max-width: 1199px) {
        text-align: center;       
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 165px;
    }
}

.location .location__item {
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer-logo {
    color: var(--white-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.location {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin-top: 20px;
}

.location__link {
    color: var(--white-text-color);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.location__link-contacts {
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}



@media screen and (min-width: 1200px) {
    .footer-box {
     margin-left: 70px;
    }
}


.footer-box .footer-box__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.footer-box__list {
    display: flex;

    @media screen and (max-width: 767px) {
        align-items: center;
        justify-content: center;
    }
}

.soc-networks__items:not(:last-child) {
    margin-right: 10px;
}

.soc-networks__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--white-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        color: var(--primary-background-color);
        background-color: var(--accent-color);
        }
}

.soc-networks__link .soc-networks__icon {
    fill: currentColor;
}

.subscribe__form {
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 60px;
    }
}


.subscribe__input {
    height: 50px;
    border-radius: 4px;
    margin-top: 20px;
    
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    line-height: 1.25;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--footer-background-color);

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
        width: 358px;
    }
}


 @media screen and (min-width: 1200px) {
    .subscribe {
    display: flex;
    align-items: flex-end;
}
}

.subscribe__text {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.14;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--white-text-color);
}


.button__icon-send{
    margin-left: 10px;
}