



.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header__wrapper,
.page-header__nav {
    display: flex;
    align-items: center;
}




.logo {
    color: var(--logo-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;

    &--accent {
    color: var(--accent-color);
    }
}


.site-nav {
    display: flex;
    margin-left: 87px;
    
    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }
}


 @media screen and (min-width: 1200px) {
    .site-nav {
        margin-left: 93px;
    }
}



.site-nav__link {
    position: relative;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    outline: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--title-text-color);

    &:hover::before,
    &:focus::before {
        width: 100%;
    }
}

.site-nav__link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 4px;
    left: 0;
    bottom: -1px;

    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2px;
    background-color: var(--accent-color);
}


.site-nav__link--current::before {
    width: 100%;
}

.site-nav__link--current,
.mobile-menu__link--current {
    color: var(--accent-color);
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

/* Contacts */


.contacts-list {
    margin-left: 96px;
}


.contacts-list__item:not(:last-child){
    margin-bottom: 10px;
}


@media screen and (min-width: 1200px) {
.contacts-list {
    display: flex;
    margin-left: auto; 
}
}


 @media screen and (min-width: 1200px) {
.contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14
}
 }

 @media screen and (max-width: 1199.98px) {
    .contacts-list__link {
        font-size: 12px;
            line-height: 1.16;

    }
 }


.contacts-list__link {
    display: flex;
    align-items: center;
    // padding-top: 32px;
    // padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    // font-size: 12px;
    // line-height: 1.16;

    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.contacts-list__icon {
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}
 
 
 @media screen and (min-width: 1200px) {
.contacts-list__item + .contacts-list__item {
    margin-left: 50px;
}
}   