
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;

    right: 0;
    bottom: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.2);
    // padding-top: 93px;
    // padding-bottom: 94px;
    
}

body.modal-open {
    overflow: hidden;
}


.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal { 
    position: absolute;
    width: 100%;
    padding: 40px;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 479px) {
        width: 90%;
    }
    @media screen and (min-width: 1200px) {
        max-width: 528px;
        min-height: 581px;
        
    }

    @media screen and (max-width: 1199.98px) {
        max-width: 450px;
        min-height: 609px;
        
    }
}


.modal-close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    top: 8px;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;

}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    fill: var(--accent-color);
    cursor: pointer;
    }
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--title-text-color);

    @media screen and (min-width: 1200px) {
    line-height: 1.15;
    }
}

.label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);

    &-text {
        font-size: 12px;
        line-height: 1.16;
         letter-spacing: 0.01em;
        color: var(--primary-text-color);
    }
}

.field {
    position: relative;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    border-radius: 4px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        cursor: pointer;
    }
}

.field-input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 15px 11px 40px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}


.field-input:hover + .field-icon,
.field-input:focus + .field-icon {
    fill: var(--accent-color);

}

.message {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);

    height: 120px;
    padding: 15px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);

    @media screen and (min-width: 1200px) {
        font-size: 12px;
        line-height: 1.16;

    }

    
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}

.privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    

    @media screen and (min-width: 1200px) {
        margin-bottom: 34px;
    }
}


    .privacy-wrapp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 14px;
        margin-right: 9px;
        border: 1px solid;
        border-radius: 2px;
        color: var(--title-text-color);
    }


.privacy-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    cursor: pointer;
    }
}

.privacy-input:checked+.privacy-wrapp {
    border: transparent;
}

.privacy-input:checked+.privacy-wrapp .privacy-icon {
    opacity: 1;
}

.privacy-input {
    appearance: none;
}

.privacy-text {
    
    letter-spacing: 0.03em;
    // text-decoration: underline;
    // color: var(--accent-color);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;            
        }
    
    @media screen and (max-width: 1199.98px) {
        font-size: 12px;
        line-height: 1.16;            
        }
}

.privacy-link {
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: var(--accent-color);
}

.privacy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}