:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --white-text-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --logo-text-color: #000000;
    --social-link-color: #AFB1B8;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
